body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    text-shadow: 1px 1px #FF0000;
}

.btn {
  display: block;
}

#quote {
  display: none;
}



@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .10s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.intro-section {
    height: 200%;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    background: #52527a;
}

.about-section {
    height: 200%;
    padding-top: 150px;
    text-align: center;
    background: #708090;
}

.services-section {
    height: 200%;
    padding-top: 150px;
    text-align: center;
    background: #52527a;
}

.contact-section {
    height: 200%;
    padding-top: 150px;
    text-align: center;
    background: #708090;
}


#retry {
  display: none;
}

#clickabove {
  display: none;
}


